# pg_eventserv

# Database connection
# postgresql://username:password@host/dbname
# DbConnection = "postgresql://username:password@host/dbname"

# Close pooled connections after this interval
# 1d, 1h, 1m, 1s, see https://golang.org/pkg/time/#ParseDuration
# DbPoolMaxConnLifeTime = "1h"

# Hold no more than this number of connections in the database pool
# DbPoolMaxConns = 4

# Look to read html templates from this directory
# AssetsPath = "/usr/share/pg_eventserv/assets"

# Accept connections on this subnet (default accepts on all)
# HttpHost = "0.0.0.0"

# Accept connections on this port
# HttpPort = 7700
# HttpsPort = 7701

# HTTPS configuration - TLS server certificate full chain and key
# If you do not specify these, the TLS server will not be started
# To generate self-signed key pair for testing,
#  openssl req  -nodes -new -x509  -keyout server.key -out server.crt
# TlsServerCertificateFile = "server.crt"
# TlsServerPrivateKeyFile = "server.key"

# Advertise URLs relative to this server name
# default is to look this up from incoming request headers
# UrlBase = "http://localhost/"

# Optional path to add to the service base URL
# If set, all routes will be prefixed with this path
# BasePath = "/"

# Channels to allow
# Channels = ["*"]

# Output extra logging information?
# Debug = false
