html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

header {
  padding-left: 2em;
  border-bottom: 2px solid lightgray;
}

h1 {
  margin-left: 0.5em;
  font-size: 150%;
}
#map {
  background-color: rgb(171, 200, 229);
  flex-grow: 8;
  height: 100%;
}

#panel {
  flex-grow: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.meta {
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
  max-width: 15em;
}

div.objectname {
  padding-right: 0.5em;
  display: inline;
  margin-right: 1em;
}

div.controls {
  text-decoration: none;
  display: inline-block;
  text-align: right;
}

.objectList {
  margin: 0;
  padding: 0;
}

.object {
  margin: 0.5em;
  padding: 0.7em;
  border-bottom: 1px solid black;
  border: 1px solid black;
  background-color: rgb(223, 247, 255)
}

#wsStatus {
  padding-top: 0.5em;
  margin: 0em;
  text-align: left;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
  #panel {
    width: 100%;
  }
  li {
    display: inline;
  }
  .meta {
    display: none;
  }
  #wsStatus {
    display: none;
  }
}
